<% include header %>

    <div class="form-group">
        <form name="signUpForm" action="sign-up" method="post" class="form-group">
            <label for="User Name">User Name</label>
            <input name="username" placeholder="User Name" class="form-control" width="200"><br>
            <label for="Password">Password</label>
            <input name="password" placeholder="Password" class="form-control" width="200"><br>
            <input type="submit" id="Sign Up" class="btn btn-primary" value="Sign Up">
        </form>
    </div>

<% include footer %>